.image{
    background-image: url("images/demon\ slayer\ ton.jpg");}
    body{
    margin:0;
     font-family: "Lato", sans-serif;
     background-image: url("images/water\ cloud.jpg")}
     .header{
    background-color: rgba(227, 129, 17, 0.7);
     text-align: center;
    padding: 20px;
    border-bottom:5px solid rgb(226, 15, 15);}
    .main{
      background-color:rgba(227, 129, 17, 0.7);
        border-right: 5px solid rgb(226, 15, 15);
    flex:1 0 0;
    padding: 20px;
}
.footer{
 background-color:rgba(227, 129, 17, 0.7);
  text-align: center;
    padding: 20px;
    border-top:5px solid rgb(226, 15, 15);

}

.title-color{
    color: rgb(185, 12, 12);}

    
    .nav-color{
    color: rgb(185, 12, 12);}

    .info{
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 700;}
 