.content{
    display: flex;
    flex-direction: row-reverse;
}
.sidebar{
    background-color: brown;
}
.header{
    background-color: blue;
     display: flex;
    justify-content: space-between;
    align-items:center;
}
.link-list{
      display: flex;
    list-style-type: none;
}
.nav-link {
    margin: 0 8px;
    text-decoration: none;
    color: #000;
    padding: 5px 15px;
    font-weight: 600;
    font-size: 12px;
}
.main{
    background-color: rgb(64, 140, 227);
    margin-right: 10px;
}
.footer{
    background-color: rgb(226, 81, 171);
}
.wrapper{
    max-width: 900px;
    margin: auto;
}