.content{
    display: flex;
    flex-direction: row-reverse;
}
.sidebar{
    background-color: brown;
}
.header{
    background-color: rgb(40, 40, 42);
    text-align: center;

}
.link-list{
      display: flex;
    list-style-type: none;
}
.nav-link {
    margin: 0 8px;
    text-decoration: none;
    color: #000;
    padding: 5px 15px;
    font-weight: 600;
    font-size: 12px;
}
.main{
    background-color: rgb(64, 140, 227);
    margin-right: 10px;
}
.footer{
    background-color: rgb(226, 81, 171);
    text-align: center;
}
.wrapper{
    max-width: 900px;
    margin: auto;
}
.image{
    width: 510px;
    height: 370px;
    background-image: url("images/best-anime-of-all-time-with-naruto-shippuden-dragon-ball-z-vegeta-and-sailor-moon.avif");
    background-size: cover;
    background-position: center;
}
.nav-list-item{
    flex: 1 0 0
}