.content{
    display: flex;
    flex-direction: row-reverse;
}
.sidebar{
    background-color: brown;
}
.header{
    background-color: rgba(226, 185, 81,70%);
    text-align: center;
    padding: 20px;
    border-bottom:5px solid rgb(0,0,0);

}
.link-list{
      display: flex;
    list-style-type: none;
    margin-top: 50px;
}
.nav-link {
    margin: 0 8px;
    text-decoration: none;
    color: #000;
    padding: 5px 15px;
    font-weight: 600;
    font-size: 40px;
}
.main{
    background-color: rgba(226, 185, 81,70%);
    border-right: 5px solid rgb(0,0,0);
    flex:1 0 0;
    padding: 20px;
}
.footer{
    background-color: rgba(226, 185, 81,70%);
    text-align: center;
    padding: 20px;
    border-top:5px solid rgb(0,0,0);

}
.wrapper{
    
    margin: auto;
}
.image{
    width: 800px;
    height: 600px;
    background-image: url("images/16-one-punch-man-anime.jpg");
    background-size: cover;
    background-position: center;
    padding: 10px;
}
.nav-list-item{
    flex: 1 0 0
}
body{
    margin:0;
     font-family: "Lato", sans-serif;
     background-image: url("images/hand-drawn-oriental-cloud-pattern-design_23-2151136937.avif")

}
.tittle{
    font-size: 60px;
    font-family: "Anton", sans-serif;
}
.info{
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 700;
}